<button mat-button [mat-dialog-close]="true" class="btn btn-outline-secondary">X</button>
<h1 mat-dialog-title>Contatti</h1>
<div mat-dialog-content>
  <mat-dialog-content>
    <div class="contatti">
      <a href="mailto:jacopobuffetti@gmail.com" target="_blank"><p><i class="fa fa-envelope" aria-hidden="true"></i>
        jacopobuffetti</p></a>
      <a href="tel:+393287159531" target="_blank"><p><i class="fa fa-phone-square" aria-hidden="true"></i> +39
        3287159531</p></a>
      <a href="skype:jachepe?call" target="_blank"><p><i class="fa fa-skype" aria-hidden="true"></i> Skype</p></a>
      <a href="https://www.linkedin.com/in/jacopo-buffetti" target="_blank"><p><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</p></a>
      <a href="https://www.facebook.com/supercicciobros" target="_blank"><p><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook </p></a>
    </div>
  </mat-dialog-content>
</div>
